@import "tailwindcss";

body {
  background-color: #f9fafb;
  /* bg-gray-50 */
  color: #111827;
  /* text-gray-900 */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}